.nav {
    position: -webkit-sticky;
    position: sticky;
    display: block;
    top: var(--margin);
    margin: var(--margin);
    text-transform: uppercase;
    z-index: 99;
    max-width: calc(100% - var(--margin-double));
}

.title {
    margin-bottom: var(--margin);
    color: var(--purple);
    width: max-content;
    max-width: calc(100% - var(--margin-double));
    background: #ffffff;
    padding-left: calc(var(--box-padding) * 2);
    padding-right: calc(var(--box-padding) * 2);
}

.container {
    width: max-content;
    max-width: 100%;
    margin-bottom: var(--margin);
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: max-content;
    width: max-content;
    max-width: 100%;
    background: #ffffff;
    padding-left: calc(var(--box-padding) * 2);
    padding-right: calc(var(--box-padding) * 2);
}