.nav {
    position: sticky;
    display: block;
    top: var(--margin);
    margin: var(--margin) var(--margin) var(--margin) var(--margin);
    text-transform: uppercase;
    z-index: 99;
    max-width: calc(100% - var(--margin-double));
}

.title {
    margin-bottom: var(--margin);
    color: var(--purple);
    width: max-content;
    max-width: calc(100% - var(--margin-double));
}

.title > a {
    background: #ffffff;
    margin-left: calc(var(--box-padding) * 2);
    margin-right: calc(var(--box-padding) * 2);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-decoration: none;
    color: var(--font-colour);
}

.containerLandscape,
.containerPortrait {
    position: sticky;
    top: 0;
    width: max-content;
    max-width: 100%;
    margin-bottom: var(--margin);
}

.containerLandscape {
    display: var(--nav-landscape-visibility);
}

.containerPortrait {
    display: var(--nav-portrait-visibility);
}

.togglePortrait {
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

.togglePortrait > svg {
    fill: var(--purple);
}

.togglePortrait > svg:hover {
    fill: var(--red);
}