.primary {
    color: var(--brown);
}

.primary > a {
    cursor: pointer;
    text-decoration: none;
    
}

.primary > a:hover > span {
    color: var(--purple)!important;
}

.divider {
    pointer-events: none;
}