.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: max-content;
    width: max-content;
    max-width: 100%;
}

.primary {
    color: var(--brown);
    background: #ffffff;
}

.primary > a {
    cursor: pointer;
    text-decoration: none;
    padding-left: calc(var(--box-padding) * 2);
    padding-right: calc(var(--box-padding) * 2);
    white-space: nowrap;
}

.primary > a:hover > span {
    color: var(--purple) !important;
}

.divider {
    pointer-events: none;
    margin-left: calc(var(--box-padding) * -1);
    margin-right: calc(var(--box-padding) * -1);
}