.ascii {
    box-sizing: content-box;
    position: relative;
    padding-top: var(--margin);
    display: inline-block;
    letter-spacing: -3px;
    color: var(--purple);
    line-height: 100%;
    font-family: var(--font-regular);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-left: var(--margin);
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
    flex-direction: row;
}

.table {
    border-spacing: 0;
    table-layout: fixed;
    padding-left: 1rem;
    padding-right: 1rem;
}

.table:first-child {
    padding-left: 0rem;
}

.table:last-child {
    padding-right: 0rem;
}

