

.newsletter {
    position: fixed;
    bottom: 0;
    width: calc(100vw - (var(--margin-double) + (var(--column-double) * 3)));
    max-width: 400px;
    right: 0;
    z-index: 99;
    
    color: #ffffff;
    font-size: var(--font-size);
    padding: var(--margin);
}

.wrapper {
padding: calc(var(--box-padding) * 4);
background: var(--purple);
}

.row {
    display: flex;
    margin-top: calc(var(--box-padding) * 4);
}

.newsletter > .row:first-child {
    margin: 0;
}

.close {
    background: none;
    border: none;
    text-align: left;
    width: max-content;
    height: max-content;
    padding: 0;
    font-family: var(--font);
    font-size: var(--font-size-large);
    color: #ffffff;
    cursor: pointer;
    right: 0;
    margin-right: var(--margin);
    margin-left: var(--margin);
}

.close:hover {
    color: var(--red);
}

.input,
.submit {
    border: none;
    width: 100%;
    height: var(--margin-double);
    padding-left: var(--margin);
    font-family: var(--font-family);
    font-size: var(--font-size-small);
    border-radius: none;
    background: #ffffff;
}

.input,
.submit {
    border: none;
    width: 100%;
    height: var(--margin-double);
    padding-left: var(--margin);
    font-family: var(--font-family);
    font-size: var(--font-size);
    border-radius: none;
    background: #ffffff;
}

.input:focus {
    outline: none;
    border: 2px solid #000000;
}

.submit {
    color: #ffffff;
    background: #000000;
    padding: 0;
    cursor: pointer;
    flex-shrink: 2;
}

.submit:hover {
    background: var(--purple);
}


.validation {
    background: var(--red);
    margin-bottom: 0;
    padding: var(--box-padding);

}