.faq {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 100;
    display: grid;
    grid-template-columns: var(--grid-columns);
    column-gap: var(--grid-columns-gap);
    padding: var(--margin) var(--margin) calc(var(--margin) + env(safe-area-inset-bottom)) var(--margin);
}

.panel {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--brown-translucent);
    pointer-events: all;
    padding-top: var(--margin);
    padding-bottom: var(--margin);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    grid-column: var(--grid-position-faq);
}

.close {
    position: fixed;
    background: none;
    border: none;
    text-align: left;
    width: max-content;
    padding: 0;
    font-family: var(--font);
    font-size: var(--font-size);
    color: #ffffff;
    cursor: pointer;
    right: 0;
    margin-right: var(--margin-double);
    background: #83794b;
    padding: var(--box-padding);
}

.close:hover {
    color: var(--red);
}

.content {
    margin-top: var(--margin-double);
    margin-left: var(--faq-margin);
}

.heading {
    position: sticky;
    top: 0;
    background: #83794b;
    width: max-content;
    padding: var(--box-padding);
}

.title {
    text-transform: uppercase;
}

.tab {
    background: none;
    border: none;
    text-align: left;
    width: max-content;
    padding: 0;
    font-family: var(--font);
    font-size: var(--font-size);
    color: #ffffff;
    pointer-events: all;
    cursor: pointer;
}

.tab:hover {
    color: var(--red);
}

.question {
    font-size: var(--font-size);
    font-weight: normal;
}

.body {
    padding-left: calc(var(--column-single) + var(--margin));
    padding-right: calc(var(--column-single) + var(--margin));
}

.anchor {
    position: absolute;
    transform: translateY(-100px);
}
