.grid {
    position: absolute;
    left: 0;
    display: var(--comment-collapsible-visibility);
    grid-template-columns: var(--grid-columns);
    column-gap: var(--grid-columns-gap);
}

.comment {
    grid-column: var(--grid-position-comment);
    font-size: var(--font-size-small);
    order: var(--comment-order);
    line-height: var(--line-height);
}

.comment > p {
    padding: var(--box-padding);
    background: var(--background);
}

.comment > p:first-child {
    margin-top: 0;
}
