.grid {
    position: relative;
    display: grid;
    grid-template-columns: var(--grid-columns);
    grid-template-rows: auto auto;
    column-gap: var(--grid-columns-gap);
    margin-bottom: var(--margin-double);
    font-size: var(--event-list-details-font-size);
    line-height: var(--line-height);
}

.row {
    display: flex;
}

.wrapper {
    width: 100%;
    min-height: var(--event-list-icon-width);
    display: flex;
    flex-direction: column;
}

.icon {
    position: relative;
    width: var(--event-list-icon-width);
    flex-shrink: 0;
    height: max-content;
    background: #d8d8d8;
    margin-right: var(--margin);
}

.icon:after {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    content: "";
    display: block;
    padding-bottom: 100%;
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: row;
}

.date {
    flex-shrink: 0;
    width: var(--event-list-date-width);
}

.content {
    margin-left: var(--margin);
}

.description {
    font-size: var(--font-size);
     margin-top: var(--margin);
}

.details {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.links {
    display: flex;
    justify-content: space-between;
    font-size: var(--event-list-links-font-size);
    height: var(--event-list-links-font-size);
    line-height: 100%;
    margin-top: var(--margin);
}

.links > a {
    text-decoration: none;
}

.dropdown,
.hyperlink {
    background: none;
    border: none;
    font-family: var(--font-family);
    font-size: var(--event-list-links-font-size);
    cursor: pointer;
    text-decoration: none;
}

.links > a:hover,
.dropdown:hover,
.hyperlink:hover {
    color: var(--purple) !important;
}

.border {
    position: absolute;
    bottom: 0;
    display: block;
    overflow-wrap: break-word;
    overflow: hidden;
    height: var(--margin-double);
    font-size: var(--font-size);
    line-height: var(--margin-double);
    pointer-events: none;
    transform: translateY(var(--margin-double));
}

.loader {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
    font-size: var(--font-size);
}

.spinner:before {
    content: "";
    animation: spinner 700ms steps(1, end) infinite;
}

@keyframes spinner {
    0%,
    100% {
        content: "-";
    }
    25% {
        content: "\\";
    }
    50% {
        content: "|";
    }
    75% {
        content: "/";
    }
}
