.landing {
    padding-left: var(--margin);
    padding-right: var(--margin);
    display: var(--landing-portrait-visibility);
    font-size: var(--font-size-large);
    line-height: 120%;
    color: var(--brown);
    width: 100%;
    font-family: var(--font-mono);
}

.container {
    position: relative;
    width: 100%;
}

.row, .description {
    display: grid;
}

.link {
    display: grid;
    white-space: nowrap;
    text-decoration: none;
    color: var(--purple);
    text-transform: uppercase;
    cursor: pointer;
}

.link:hover {
    color: var(--red);
}