@font-face {
  font-family: 'BOARCCourier';
  src: url("../fonts/BOARCCourier.otf") format("opentype"),
}

@font-face {
  font-family: 'BOARCSymbols';
  src: url("../fonts/BOARCSymbols.otf") format("opentype"),
}