@font-face {
    font-family: "BOARCCourier";
    src: url("../fonts/BOARCCourier.woff2") format("woff2"),
        url("../fonts/BOARCCourier.woff") format("woff");
}

@font-face {
    font-family: "BOARCCourierMono";
    src: url("../fonts/BOARCCourierMono.woff2") format("woff2"),
        url("../fonts/BOARCCourierMono.woff") format("woff");
}

@font-face {
    font-family: "BOARCSymbols";
    src: url("../fonts/BOARCSymbols.woff2") format("woff2"),
        url("../fonts/BOARCSymbols.woff") format("woff");
}
