.heading {
    position: relative;
    text-transform: uppercase;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1.2rem;
    user-select: none;
    pointer-events: none;
    border-top: 1rem solid transparent;
    font-family: BOARCCourier;
    border-bottom: 1rem solid transparent;
    border-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='1rem'><style>.text { font-family: BOARCCourier; letter-spacing: 0.055rem; }</style><text x='0' y='0.75rem' class='text'>///////////////////////////////////////////////////////////</text></svg>");
    border-image-slice: 20 20 20 20;
    border-image-repeat: stretch;
}
