.grid {
    position: relative;
    display: grid;
    grid-template-columns: var(--grid-columns);
    column-gap: var(--grid-columns-gap);
    justify-items: end;
}

.carousel {
    position: relative;
    grid-column: var(--grid-position-carousel);
    max-height: 75vh;
    width: 100%;
    display: flex;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.image {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}



.arrowLeft,
.arrowRight {
    position: absolute;
    height: 100%;
    width: max-content;
    cursor: pointer;
    background: none;
    border: none;
    font-size: var(--font-size-large);
    font-family: var(--font-family);
    color: var(--brown);
    z-index: 10;
}

.arrowRight {
    right: 0;
}

.arrowLeft > svg,
.arrowRight > svg {
    max-height: var(--font-size-event-carousel);
}

.arrowLeft:hover,
.arrowRight:hover {
    color: var(--purple);
}
