.easyread {
	position: fixed;
	bottom: var(--margin);
	bottom: calc(var(--margin) + env(safe-area-inset-bottom));
	left: var(--margin);
	z-index: 99;
}

@media only screen and (min-width: 650px) {
	.easyread {
		position: sticky;
		top: 0;
		bottom: unset;
		width: 100vw;
		z-index: 99;
		background: var(--purple);
	}
}

.box {
	display: flex;
	flex-direction: column;
	padding-bottom: calc(var(--box-padding) * 1);
}

@media only screen and (min-width: 650px) {
	.box {
		flex-direction: row;
		padding-bottom: 0;
		width: 100%;
		justify-content: flex-between;
		align-items: center;
        padding: 0 var(--margin-half);
	}
}

.box > button {
	border: none;
	text-align: left;
	padding: 0 var(--margin-half);
	font-family: var(--font-easy);
	font-size: var(--font-size);
	color: #ffffff;
	pointer-events: all;
	cursor: pointer;
}

@media only screen and (min-width: 650px) {
	.box > button {
		font-size: var(--font-size-small);
	}
}

.box > button > p {
	margin: 0;
}

.accessibilityButton {
	background: var(--purple);
	width: 180px;
    
}

@media only screen and (min-width: 650px) {
	.accessibilityButton {
		order: 0;
        width: max-content;
        line-height: 2;
	}
}

.faqButton {
	background: var(--brown);
	margin-top: var(--margin-half);
	width: max-content;
}

@media only screen and (min-width: 650px) {
	.faqButton {
		margin-top: 0;
		margin-left: auto;
        order: 3;
        padding: 0 calc((var(--box-padding) * 2));
        line-height: 2;
	}
}

.controls {
	display: flex;
	flex-direction: column;
	background: var(--purple);
	padding: var(--margin-half);
	gap: var(--margin-half);
	width: 180px;
}

@media only screen and (min-width: 650px) {
	.controls {
		display: flex !important;
		flex-direction: row;
		width: auto;
        gap: var(--margin);
        order: 1;
	}
}

.controls > button:last-child {
	margin-right: 0;
}

.button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--margin);
	border: 1px solid white;
	padding: var(--box-padding) calc((var(--box-padding) * 2));
	line-height: 1;
	font-family: var(--font-easy);
	font-size: var(--font-size);
}

@media only screen and (min-width: 650px) {
	.button {
		font-size: var(--font-size-small);
		padding: 0 calc((var(--box-padding) * 2));
	}
}

.button > svg {
	height: 25px;
	max-width: 20px;
	stroke: 1px;
	width: auto;
}


.button > span {
	padding-top: 5px;
}
